// Variables
$main-color: #1a2f80;
$transition-duration: 0.3s;
$delay-increment: 0.1s;

// Base Styles
.lineParent,
.wordParent {
  overflow: hidden;
}

[animate-section-left],
.button,
#arabicSVG path {
  clip-path: inset(0 100% 0 0); // Hides the element
}

[animate-section-left],
[animate-fade-in] {
  opacity: 0;
}

[animate-section-left] {
  transition: clip-path 1s;
}

.splide__track {
  overflow: visible;
}

.project-card-title {
  max-width: calc(100% - 4rem);
}

.slide-blur {
  filter: blur(3px);
  transition: filter $transition-duration ease;
}

.news_item:hover .news_featured-image {
  transform: scale(1.1);
}

.team_member_item {
  width: calc(100% - 1.875rem);
}

.world_map_modded {
  fill: currentColor;

  path {
    stroke: white;
    stroke-width: 0.015rem;
  }

  .europe,
  .Israel,
  .Pakistan,
  .Morocco,
  .Bahrain,
  .United-States,
  .United-Arab-Emirates {
    fill: $main-color;
    opacity: 50%;
  }

  .active-region {
    opacity: 100%;
  }
}

.news_item_wrapper {
  @media (min-width: 991px) {
    &:not(.ismediapage) {
      &:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
    
    &.ismediapage {
      &:nth-child(3n) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }
}

// Nested Styles
.card-overlay-blue .card-overlay-row {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      transition-delay: $i * $delay-increment;
    }
  }
}

.team_member_circle,
.team_member-image-wrapper {
  transition: 0.5s ease;

  &.team_member_circle {
    clip-path: ellipse(35% 35% at 50% 50%);
  }

  &.team_member-image-wrapper {
    aspect-ratio: 1 / 1;

    &:hover {
      .team_member_circle {
        clip-path: ellipse(74% 74% at 50% 50%);
      }

      .team_member_image {
        transform: scale(1, 1);
      }
    }
  }
}

.region_card_map_svg {
  path {
    stroke: $main-color;
    stroke-width: 1px;
    transition: all $transition-duration ease-in-out;
  }

  &.ishovered {
    color: red;

    path {
      stroke: #fff;
      color: $main-color;
    }
  }
}
